/* CSS Document */
* { padding:0; margin:0; }
body { color:$color-title; font-size:$f-sub; font-family:'Microsoft Yahei'; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style:inherit; font-weight:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:baseline; }
sub { vertical-align:baseline; }
legend { color:#000; }
input, button, textarea, select, optgroup, option { font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }
input, button, textarea, select { *font-size:100%; }
b,em,i,s,u{ font-weight:normal; font-size:12px; font-style:normal; text-decoration:none; }
a { text-decoration:none; tap-highlight-color:transparent; -webkit-tap-highlight-color:transparent; }
a:hover { text-decoration:none; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }
.clearfix { display:inline-block; *zoom:1; }
.clearfix { display:block; }
* html .clearfix { height:1%; }
.hidden { visibility:hidden; }
.none { display:none; }
.fl { float:left; }
.fr { float:right; }