.icon-search {
  width:18px;
  height:18px;
  background:url('../../images/exchange/icon-search.png') center no-repeat;
  background-size:18px 18px;
}
.icon-profile {
  width:19px;
  height:21px;
  background:url('../../images/exchange/icon-pro.png') center no-repeat;
  background-size:19px 21px;
}
.icon-close {
  width:12px;
  height:12px;
  background:url('../../images/exchange/icon-close.png') center no-repeat;
  background-size:12px 12px;
}
.icon-camera {
  width:80px;
  height:70px;
  background:url('../../images/exchange/icon-camera.png') center no-repeat;
  background-size:80px 70px;
}