$color-f: #fff;
$color-theme: #00b28f;
$color-title: #333;
$color-sub: #666;
$color-tips: #999;
$color-updata: #8e8e8e;
$color-border: #d9d9d9;
$color-bg: #f5f5f5;
$color-key: #ef7837;
$color-mark: #fc1546;

$f-tips: 11px;
$f-theme: 12px;
$f-sub: 14px;
$f-title: 18px;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;

$height-input: 30px;
$height-header: 40px;

$avatar-m: 50px;
$avatar-s: 35px;
$point: 5px;

$radius-round: 50%;
$radius: 3px;